.logo {
  height: 64px;
  line-height: 64px;
  background: white;
  font-size: 30px;
  font-family: 华文楷体;
  color: black;
  padding-left: 20px;
}

.headerDetail {
  position: relative;
  float: right;
  cursor: pointer;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu-inline .ant-menu-item {
  margin-top: 0 !important;
}

.ant-image-img {
  width: 48px !important;
  border-radius: 50%;
  margin-right: 10px;
}

.ant-dropdown-link {
  font-size: 14px;
  color: #606266;
}